<script src="~/Scripts/angular.min.js"></script>
@{
    ViewBag.Title = "Home Page";
    ViewBag.Menu = "Dashboard";
}

<div class="jumbotron" ng-app="App" ng-controller="aCtrl">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    @*<button ng-click="send()">click</button>*@
</div>
<script type="text/javascript">
    var app = angular.module("App", []);
    app.controller("aCtrl", function ($scope, $http) {
        gd();

        var a = '';

        function gd(){
            $http.get('getDatas').then(function (d) {
                var s = d.data;
                a = JSON.stringify(s);
            });
        }

        $scope.send = function () {
            //console.log(a);
            //$http.post('http://www.garayaccrealsoft.com/Home/synchronizeData/', { survey: a }).then(function (x) {
            //    console.log(x);
            //});
        };
    });
</script>