@{
    ViewBag.Title = "Individual Monitoring";
    ViewBag.Menu = "Monitoring";
}

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/app/app.js"></script>
<script src="~/Scripts/app/monitoring/individualCtrl.js"></script>

<div ng-app="Survey" ng-controller="individualCtrl">

    <h4 class="mt-0 header-title">Select Enumerator</h4>
    <select class="custom-select custom-md-select col-5"
            ng-change="getUserList()"
            ng-model="userId"
            ng-options="user as user.enumerator for user in users"></select>
    <div class="row">
        <div class="m-t-30 m-b-30 col-5">
            <h4 class="m-b-20 text-center">{{ selectedMun.munCityName }}</h4>
            <div id="mun-graph" style="height: 300px"></div>

            <div class="row">
                <div class="col-6 text-center">
                    <h4>{{ totalSynch }}</h4>
                    <p>Synchronize Data</p>
                </div>
                <div class="col-6 text-center">
                    <h4>{{ totalNumRef }}</h4>
                    <p>Total Sample Size</p>
                </div>
            </div>
        </div>


        <div class="m-t-30 m-b-30 col" style="height: 450px; overflow-y:scroll;">
            <div ng-repeat="al in assignList" ng-if="al.assignBrgy.length > 0">

                <div class="card m-b-30 card-body">
                    <h4 class="card-title font-20">{{ al.munCityName }}</h4>
                    <div ng-repeat="bl in al.assignBrgy" class="m-t-15 card-text">
                        <span>{{ bl.brgyName }}</span>
                        <i class="mdi mdi-cloud-check font-20 text-success"
                           ng-if="bl.progress >= 100"></i>
                        <span class="badge pull-right" ng-class="bl.status == true ? 'badge-success' : 'badge-primary'">
                            {{ bl.synchData }} / {{ bl.numRef }}
                        </span>

                        <div class="progress m-t-10" style="height: 5px;">
                            <div class="progress-bar" ng-class="bl.status == true ? 'bg-success' : 'bg-primary'" role="progressbar" style="width: {{ bl.progress }}%"
                                 aria-valuenow="{{ bl.synchData }}" aria-valuemin="0" aria-valuemax="{{ bl.numRef }}">
                            </div>
                        </div>
                    </div>

                </div>
                </p>
                @*<p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>*@
            </div>

        </div>
    </div>
</div>

